
@model WebCSharp.Models.EntityFrameWork.ProductStore

@{
    ViewBag.Title = "Cập nhật";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Thêm danh mục</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active"><a href="/admin/productstore">Sản phẩm</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>

                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>


}
<div class="card">
    @using (Html.BeginForm("Edit", "ProductStore", FormMethod.Post, new { }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false)
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.Create_at)

        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-sm btn-danger">
                        <i class="fa fa-trash">Xóa</i>
                    </button>
                </div>

                <div class="col-md-6 text-right">
                    <button type="submit" class="btn bg-success">
                        <i class="fa-solid fa-save"></i> Lưu [Thêm]
                    </button>
                    <a href="/admin/productstore" class="btn bg-success">
                        <i class="fa-solid fa-arrow-left"></i> Quay về danh sách
                    </a>

                </div>
            </div>

        </div>
        <div class="card-body">

          
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label for="Product_Id">Sản phẩm</label>
                                        @Html.DropDownListFor(x => x.ProductId, ViewBag.Products as SelectList, "Chọn sản phẩm", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.ProductId, null, new { @class = "text-danger" })

                                    </div>
                                    <div class="col-3">
                                        <label for="Qty">Số lượng</label>
                                        @Html.TextBoxFor(x => x.Qty, new { @class = "form-control", @placeholder = "Nhập số lượng" })
                                        @Html.ValidationMessageFor(x => x.Qty, null, new { @class = "text-danger" })
                                    </div>
                                    <div class="col-3">
                                        <label for="price">Giá</label>
                                        <input type="text" name="demoPrice" id="demoPrice" class="form-control auto" data-a-dec="," data-a-sep=".">
                                        @Html.HiddenFor(x => x.Price, new { @placeholder = "giá" })
                                        @Html.ValidationMessageFor(x => x.Qty, null, new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>


                        </div>
                   

        <!-- /.card-body -->
        <div class="card-footer">
            Footer
        </div>
    }
    <!-- /.card-footer-->
</div>
<!-- /.card -->
@section scripts{
    <script>
        $(document).ready(function () {
            $('.auto').autoNumeric('init');
            $('#demoPrice').bind('blur focusout keypress keyup', function () {
                var demoGet = $('#demoPrice').autoNumeric('get');
                $('#Price').val(demoGet);
                $('#Price').autoNumeric('set', demoGet);
            });
            $('#demoPriceSale').bind('blur focusout keypress keyup', function () {
                var demoGet = $('#demoPriceSale').autoNumeric('get');
                $('#Price_Sale').val(demoGet);
                $('#Price_Sale').autoNumeric('set', demoGet);
            });
            CKEDITOR.replace('txtDetail', {
                customConfig: '/content/ckeditor/config.js',
                extraAllowedContent: 'span',
            });

            $('body').on('click', '.btnDelProduct', function () {
                var conf = confirm('bạn có muốn xóa ảnh này không ?');
                if (conf == true) {
                    var _id = $(this).data('id');
                    $('#trow_' + _id).fadeTo('fast', 0.5, function () {
                        $(this).slideUp('fast', function () { $(this).remove(); });
                    });
                    var temp = $(`#tCurrentId`).val();
                    var currentId = parseInt(temp) - 1;
                    $('#tCurrentId').val(currentId);
                }
            });
        });
        function BrowseServer(field) {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                /*document.getElementById(field).value = fileUrl;*/
                addImageProduct(fileUrl)
            };
            finder.popup();
        }
        function addImageProduct(url) {
            var temp = $(`#tCurrentId`).val();
            var currentId = parseInt(temp) + 1;
            var str = "";
            if (currentId == 1) {
                str += `<tr id="trow_${currentId}">
                           <td class="text-center">${currentId}</td>
                           <td class="text-center"><img width="80" src="${url}" /></td>
                           <input type='hidden' value="${url}" name="Images"/>
                           <td class="text-center">
                           <input type="radio" value="${currentId}" name="rDefault" checked="checked"/>
                           </td>
                           <td class="text-center"><a href="#" data-id="${currentId}"  class="btn btn-sm btn-danger btnDelProduct">Xóa</a></td>
                        </tr>`;
            }
            else {
                str += `<tr id="trow_${currentId}">
                           <td class="text-center">${currentId}</td>
                           <td class="text-center"><img width="80" src="${url}" /></td>
                           <input type='hidden' value="${url}" name="Images"/>
                           <td class="text-center">
                           <input type="radio" name="rDefault" value="${currentId}"/>
                           </td>
                           <td class="text-center"><a href="#" data-id="${currentId}" class="btn btn-sm btn-danger btnDelProduct">Xóa</a></td>
                        </tr>`;
            }

            $('#tbHtml').append(str);
            $('#tCurrentId').val(currentId);
            //$('#tbHtml tr td a').each(function () {
            //    $(this).click(function () {
            //        //var conf = confirm('bạn có muốn xóa ảnh này không ?');
            //        //if (conf == true) {
            //        //    var _id = $(this).data('id');
            //        //    $('#trow_' + _id).fadeTo('fast', function () {
            //        //        $(this).slideUp('fast', function () { $(this).remove(); });
            //        //    });
            //        //    var temp = $(`#tCurrentId`).val();
            //        //    var currentId = parseInt(temp) - 1;
            //        //    $('#tCurrentId').val(currentId);
            //        //}
            //    });
            //});

        }
    </script>
}
