@*@model IEnumerable<WebCSharp.Models.EntityFrameWork.Menu>*@
@model WebCSharp.Models.EntityFrameWork.ProductSale

@{
    ViewBag.Title = "Chi tiết giảm giá";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Chi tiết nhập hàng</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active"><a href="/admin/productsale">Cấu hình</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>

                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>


}
<section class="content">
    @Html.HiddenFor(x => x.Id)
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Chi tiết nhập hàng</h3>

            <div class="card-tools">
                <a href="/admin/productsale" class="btn bg-success"><i class="fa fa-arrow-left"></i> Quay lại </a>
            </div>
        </div>
        <div class="card-body">
            <div class="card-body">
                <table class="table table-bordered border-success table-hover ">
                    <thead class="bg-green">
                        <tr class="fs-1">
                            <th width="30%">
                                Tên trường
                            </th>
                            <th>
                                Giá trị
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>@Model.Id</td>
                        </tr>
                        <tr>
                            <th>Tên sản phẩm</th>
                            <td>@Model.Product.Name</td>
                        </tr>

                        <tr>
                            <th>Giá</th>
                            <td>@Model.DiscountPrice</td>
                        </tr>
                        <tr>
                            <th>Ngày bắt đầu</th>
                            <td>@Model.StartDate</td>
                        </tr>
                        <tr>
                            <th>Ngày kết thúc</th>
                            <td>@Model.EndDate</td>
                        </tr>
                        <tr>
                            <th>Số lượng</th>
                            <td>@Model.Qty</td>
                        </tr>


                        <tr>
                            <th>Ngày nhập</th>
                            <td>@Model.Create_at</td>
                        </tr>


                        <tr>
                            <th>Người nhập</th>
                            <td>@Model.Create_By</td>
                        </tr>
                        <tr>
                            <th>Ngày cập nhập</th>
                            <td>@Model.Update_at</td>
                        </tr>


                        <tr>
                            <th>Người cập nhật</th>
                            <td>@Model.Update_By</td>
                        </tr>


                    </tbody>
                </table>
            </div>


            @*</div>*@
            <!-- /.card-body -->
            <div class="card-footer">
                Footer
            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->

</section>
<!-- /.card -->
