

@model WebCSharp.Models.EntityFrameWork.Product
@{
    ViewBag.Title = "Cập nhật";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Thêm danh mục</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active"><a href="/admin/product">Sản phẩm</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>

                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>


}
<div class="card">
    @using (Html.BeginForm("Edit", "Products", FormMethod.Post, new { }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false)
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.Create_at)

        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-sm btn-danger">
                        <i class="fa fa-trash">Xóa</i>
                    </button>
                </div>

                <div class="col-md-6 text-right">
                    <button type="submit" class="btn bg-success">
                        <i class="fa-solid fa-save"></i> Lưu [Thêm]
                    </button>
                    <a href="/admin/products" class="btn bg-success">
                        <i class="fa-solid fa-arrow-left"></i> Quay về danh sách
                    </a>

                </div>
            </div>

        </div>
        <div class="card-body">

            <div class="container-fluid">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link" href="#activity" data-toggle="tab">Thông tin chung</a></li>
                            @*<li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Hình ảnh</a></li>*@

                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane" id="activity">
                                <div class="mb-3">
                                    <label for="productname">Tên sản phẩm</label>
                                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Nhập tên sản phẩm" })
                                    @Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" })

                                </div>
                                <div class="mb-3">
                                    <label for="Category_Id">Danh mục</label>
                                    @Html.DropDownListFor(x => x.CategoryId, ViewBag.Category as SelectList, "Chọn danh mục sản phẩm", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.CategoryId, null, new { @class = "text-danger" })

                                </div>
                                <div class="mb-3">
                                    <label for="Brand_Id">Thương hiệu</label>
                                    @Html.DropDownListFor(x => x.BrandId, ViewBag.Brand as SelectList, "Chọn thương hiệu sản phẩm", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.BrandId, null, new { @class = "text-danger" })

                                </div>
                                <div class="mb-3">
                                    <label for="detail">Chi tiết bài viết</label>
                                    @Html.TextAreaFor(x => x.Detail, new { @class = "form-control", @id = "txtDetail", @name = "txtDetail" })
                                </div>
                                <div class="mb-3">
                                    <label for="Detail">Metakey</label>
                                    @Html.TextBoxFor(x => x.Metakey, new { @class = "form-control", @placeholder = "Metakey" })
                                    @Html.ValidationMessageFor(x => x.Metakey, null, new { @class = "text-danger" })

                                </div>
                                <div class="mb-3">
                                    <label for="Detail">Metadesc</label>
                                    @Html.TextBoxFor(x => x.Metadesc, new { @class = "form-control", @placeholder = "Metadesc" })
                                    @Html.ValidationMessageFor(x => x.Metadesc, null, new { @class = "text-danger" })

                                </div>
                                <div class="row">
                                    @*<div class="col-3">
                <label for="Qty">Số lượng</label>
                @Html.TextBoxFor(x => x.Qty, new { @class = "form-control", @placeholder = "Nhập số lượng" })
                @Html.ValidationMessageFor(x => x.Qty, null, new { @class = "text-danger" })
            </div>*@
                                    <div class="col-3">
                                        <label for="price">Giá</label>
                                        <input type="text" name="demoPrice" id="demoPrice" value="@Model.Price" class="form-control auto" data-a-dec="," data-a-sep=".">
                                        @Html.HiddenFor(x => x.Price, new { @placeholder = "giá" })
                                        @Html.ValidationMessageFor(x => x.Price, null, new { @class = "text-danger" })
                                    </div>
                                    @*<div class="col-3">
                <label for="Qty">Giá Sale</label>
                <input type="text" name="demoPriceSale" id="demoPriceSale" class="form-control auto" data-a-dec="," data-a-sep=".">
                @Html.HiddenFor(x => x.Price_Sale, new {  @placeholder = "Price_Sale" })
                @Html.ValidationMessageFor(x => x.Price_Sale, null, new { @class = "text-danger" })
            </div>*@
                                    <div class="col-3">
                                        <label for="Sort_Order">Vị trí sắp xếp</label>
                                        @Html.TextBoxFor(x => x.Sort_Order, new { @class = "form-control", @placeholder = "Sort_Order" })
                                        @Html.ValidationMessageFor(x => x.Sort_Order, null, new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="row mt-4">
                                    <div class="col-3">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">

                                                @Html.CheckBoxFor(x => x.Status, new { @class = "custom-control-input", @id = "customCheckboxStatus", @checked = "@checked" })
                                                <label for="customCheckboxStatus" class="custom-control-label">Hiển thị</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">

                                                @Html.CheckBoxFor(x => x.isHot, new { @class = "custom-control-input", @id = "customCheckboxHot" })
                                                <label for="customCheckboxHot" class="custom-control-label">Hot</label>

                                            </div>
                                        </div>
                                    </div><div class="col-3">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">

                                                @Html.CheckBoxFor(x => x.isFeature, new { @class = "custom-control-input", @id = "customCheckboxFeature" })
                                                <label for="customCheckboxFeature" class="custom-control-label">Nổi bật</label>

                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="col-3">
                <div class="form-group">
                    <div class="custom-control custom-checkbox">

                        @Html.CheckBoxFor(x => x.isSale, new { @class = "custom-control-input", @id = "customCheckboxSale" })
                        <label for="customCheckboxSale" class="custom-control-label">Sale</label>

                    </div>
                </div>
            </div>*@

                                </div>
                            </div>
                            <!-- /.tab-pane -->
                            <!--<div class="tab-pane" id="timeline">
                                <div class="row">
                                    <div class="col-md-12 text-right">-->
                            @*<div class="mb-3">
                                    <label for="exampleInputFile">File input</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            @Html.TextBoxFor(x => x.Image, new { @id = "txtImage", @class = "form-control" })

                                        </div>
                                        <div class="input-group-append">
                                            <input type="button" value="tải ảnh" onclick="BrowseServer('txtImage');" />
                                        </div>
                                    </div>

                                </div>*@
                            <!--<input type="button" class="btn btn-primary" id="iLoadImage" onclick="BrowseServer();" value="Tải ảnh" />
                                    </div>
                                    <div class="col-md-12">
                                        <table class="table table-hover" id="tbProductsImage">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th class="text-center">Ảnh</th>
                                                    <th class="text-center">Ảnh đại diện</th>
                                                    <th class="text-center">Thao tác</th>

                                                </tr>
                                            </thead>
                                            <tbody id="tbHtml">
                                            </tbody>


                                        </table>
                                        <input type="hidden" id="tCurrentId" value="0">
                                    </div>
                                </div>

                            </div>-->
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                </div>


            </div>
        </div>

        <!-- /.card-body -->
        <div class="card-footer">
            Footer
        </div>
    }
    <!-- /.card-footer-->
</div>
<!-- /.card -->
@section scripts{
    <script>
        $(document).ready(function () {
            $('.auto').autoNumeric('init');
            $('#demoPrice').bind('blur focusout keypress keyup', function () {
                var demoGet = $('#demoPrice').autoNumeric('get');
                $('#Price').val(demoGet);
                $('#Price').autoNumeric('set', demoGet);
            });
            $('#demoPriceSale').bind('blur focusout keypress keyup', function () {
                var demoGet = $('#demoPriceSale').autoNumeric('get');
                $('#Price_Sale').val(demoGet);
                $('#Price_Sale').autoNumeric('set', demoGet);
            });
            CKEDITOR.replace('txtDetail', {
                customConfig: '/content/ckeditor/config.js',
                extraAllowedContent: 'span',
            });

            $('body').on('click', '.btnDelProduct', function () {
                var conf = confirm('bạn có muốn xóa ảnh này không ?');
                if (conf == true) {
                    var _id = $(this).data('id');
                    $('#trow_' + _id).fadeTo('fast',0.5, function () {
                        $(this).slideUp('fast', function () { $(this).remove(); });
                    });
                    var temp = $(`#tCurrentId`).val();
                    var currentId = parseInt(temp) - 1;
                    $('#tCurrentId').val(currentId);
                }
            });
        });
        function BrowseServer(field) {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                /*document.getElementById(field).value = fileUrl;*/
                addImageProduct(fileUrl)
            };
            finder.popup();
        }
        function addImageProduct(url) {
            var temp = $(`#tCurrentId`).val();
            var currentId = parseInt(temp) + 1;
            var str = "";
            if (currentId == 1) {
                str += `<tr id="trow_${currentId}">
                       <td class="text-center">${currentId}</td>
                       <td class="text-center"><img width="80" src="${url}" /></td>
                       <input type='hidden' value="${url}" name="Images"/>
                       <td class="text-center">
                       <input type="radio" value="${currentId}" name="rDefault" checked="checked"/>
                       </td>
                       <td class="text-center"><a href="#" data-id="${currentId}"  class="btn btn-sm btn-danger btnDelProduct">Xóa</a></td>
                    </tr>`;
            }
            else {
                str += `<tr id="trow_${currentId}">
                       <td class="text-center">${currentId}</td>
                       <td class="text-center"><img width="80" src="${url}" /></td>
                       <input type='hidden' value="${url}" name="Images"/>
                       <td class="text-center">
                       <input type="radio" name="rDefault" value="${currentId}"/>
                       </td>
                       <td class="text-center"><a href="#" data-id="${currentId}" class="btn btn-sm btn-danger btnDelProduct">Xóa</a></td>
                    </tr>`;
            }

            $('#tbHtml').append(str);
            $('#tCurrentId').val(currentId);
            //$('#tbHtml tr td a').each(function () {
            //    $(this).click(function () {
            //        //var conf = confirm('bạn có muốn xóa ảnh này không ?');
            //        //if (conf == true) {
            //        //    var _id = $(this).data('id');
            //        //    $('#trow_' + _id).fadeTo('fast', function () {
            //        //        $(this).slideUp('fast', function () { $(this).remove(); });
            //        //    });
            //        //    var temp = $(`#tCurrentId`).val();
            //        //    var currentId = parseInt(temp) - 1;
            //        //    $('#tCurrentId').val(currentId);
            //        //}
            //    });
            //});

        }
    </script>
}
